* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: #ebebeb;
}


/* === Hover Navbar */

.hoverVerdeClaro {
    transition: all .2s ease;
    display: inline-block;
    font-weight: 700;
}

.hoverVerdeClaro:hover {
    color: #41A88A;
    font-weight: bold;
    transform-origin: left;
    transform: scale(1.2);
}

.hoverVerdeClaro-desktop {
    transition: all .2s ease;
    display: inline-block;
    font-weight: 700;
}

.hoverVerdeClaro-desktop:hover {
    color: #41A88A!important;
    font-weight: bold;
    transform: scale(1.1);
}

.boxContainer .box .box-container .textContainerRow-container,
.textContainerRow-container{
    .textContainerRow {
        display: flex;
        flex-direction: row;
        margin-top: 0.625rem;
        justify-content: center;
        .redirect-link:hover{
            color: #357d6c;
        }
    }
    .redirect-link:hover{
        color: #357d6c;
    }
}

/* === Hover: Footer */

.soporte {
    .itemsContainer {
        .itemBox {
            padding: 1px;
            .item:hover {
                color: #FFFF66;
                font-weight: 500;
            }
        }
    }
}
// .redes{
//     .red-social{
//         .social_media-icon{
//             &:hover {
//                 fill: #FFFF66!important;
//                 font-weight: 500;
//             }
//         }
//     }
// }

.secciones {
    .itemsContainer {
        .itemBox {
            padding: 1px;

            .item:hover {
                color: #FFFF66;
                font-weight: 500;
            }
        }
    }
}